body {
    font-family: 'Fenix', serif;
    line-height: 1.8em;
    margin: 0px;
    text-align: center;
    color: #2B2B2B;
}

a {
    color: inherit;
}

body > div {
    display: inline-block;
    text-align: left;
}

div#main {
    background-color: white;
    display: inline-block;
}

#controls {
    font-size: 33px;
    color: #b6bca4;
}

div.page-turn {
    float: left;
    position: fixed;
    top: 0;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    background-color: #CFDBC5;
    width: 120px;
    padding-top: 80px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.page-turn#prev {
    left:0;
}

div.page-turn#next {
    right:0;
    float: right;
}

.page-turn a {
    color: inherit;
    text-decoration: none;
}

.page-turn a:hover {
    color: #2B2B2B;
}

#top-title {
    font-family: 'Rosario', sans-serif;
}

div#top-title {
    margin: 5px 0px 0px;
}

#top-title a {
    text-decoration: none;
    color: #777777;
}

div#progress-wrapper {
    text-align: center;
}

div#progress {
    padding-top: 10px;
    height: 20px;
    display: inline-block;
}

#progress ul {
    list-style-type: none;
    display: inline;
}

#progress li {
    list-style-type: none;
    float: left;
}

#progress span {
    width: 2px;
    display: block;
    background-color: #DDDDDD;
    height: 6px;
}

#progress span.progress-section {
    background-color: #AAAAAA;
    width: 4px;
}

#progress span.progress-post {
    height: 5px;
}

#progress span.current {
    background-color: red;
}

div.page_container {
    background-color: white;
}

div.page {
    vertical-align: top;
}

#cover {
    text-align: center;
}

.title {
    font-family: 'Rosario', sans-serif;
    font-size: 44px;
}

.subtitle p, .edited-by p {
    line-height: 1.5em;
    margin: 5px 0px;
}

p.author {
   font-size: 1.2em;
   line-height: 1.1em;
   margin: 3px 0px 15px;
}

#toc {
    text-align: left;
    margin-left: 100px;
    line-height: 1.4em;
    font-size: 1.2em;
}

div#toc {
    margin-top: 60px;
}

#toc a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 30px;
}

.timestamp {
    font-size: 14px;
    color: #1F1F1F;
}

img.media {
   width: 320px; 
   float: right;
   margin-left: 10px;
   margin-top: 18px;
}

#copyright {
    font-size: 14px;
    color: #999999;
    line-height: 1.4em;
}

#copyright {
    margin-top: 80px;
}

div#copyright {
    display: inline-block;
}

#copyright a {
    color: #999999;
    text-decoration: none;
}

#copyright, .section, .post, #preface, #bonus {
    max-width: 480px;
}

.section, .post, #preface, #bonus {
    font-size: 22px;
}

.page p {
    word-wrap: break-word;
}
