@font-face {
      font-family: 'Fenix';
      font-style: normal;
      font-weight: 400;
      src: local('Fenix'), local('Fenix-Regular'), url(fonts/Fenix/Fenix-Regular.ttf) format('truetype');
}

@font-face {
      font-family: 'Rosario';
      font-style: normal;
      font-weight: 400;
      src: local('Rosario Regular'), local('Rosario-Regular'), url(fonts/Rosario/Rosario-Regular.ttf) format('truetype');
}

body {
    font-family: 'Fenix', serif;
    line-height: 1.4em;
    margin: 0px;
    text-align: center;
    color: #2B2B2B;
    font-size: 22px;
}

a {
    color: inherit;
}

body > div {
    display: inline-block;
    text-align: left;
}

div#main {
    background-color: white;
    display: inline-block;
    margin-left: 120px;
    margin-right: 120px;
    padding: 0px 40px;
}

#controls {
    font-size: 33px;
    color: #b6bca4;
}

div.page-turn {
    float: left;
    position: fixed;
    top: 0;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    background-color: #CFDBC5;
    width: 120px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.page-turn#prev {
    left:0;
}

div.page-turn#next {
    right:0;
    float: right;
}

.page-turn a {
    color: inherit;
    text-decoration: none;
    display: block;
    height: 100%;
    line-height: 300px;
}

.page-turn a:hover {
    color: #2B2B2B;
}

#top-title {
    font-family: 'Rosario', sans-serif;
}

div#top-title {
    margin: 5px 0px 0px;
}

#top-title a {
    text-decoration: none;
    color: #777777;
}

div#progress-wrapper {
    text-align: center;
}

div#progress {
    padding-top: 10px;
    height: 20px;
    display: inline-block;
}

#progress ul {
    list-style-type: none;
    display: inline;
}

#progress li {
    list-style-type: none;
    float: left;
}

#progress span {
    width: 2px;
    display: block;
    background-color: #DDDDDD;
    height: 6px;
}

#progress span.progress-section {
    background-color: #AAAAAA;
    width: 4px;
}

#progress span.progress-post {
    height: 5px;
}

#progress span.current {
    background-color: red;
}

div.page_container {
    background-color: white;
}

div.page {
    vertical-align: top;
}

#cover {
    text-align: center;
}

.title {
    font-family: 'Rosario', sans-serif;
    font-size: 44px;
}

.subtitle p, .edited-by p {
    line-height: 1.5em;
    font-size: 1.2em;
    margin: 5px 0px;
}

p.author {
   font-size: 1.5em;
   line-height: 1.1em;
   margin: 3px 0px 15px;
}

.cover-section {
    text-align: left;
    margin-left: 80px;
    line-height: 1.4em;
    font-size: 1.2em;
}

div#toc, div#about, div#acknowledgements {
    margin-top: 60px;
}

#toc a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 30px;
}

.timestamp {
    font-size: 14px;
    color: #1F1F1F;
}


img.media {
    width: 480px;
    display: block;
}

#copyright {
    font-size: 10px;
    color: #999999;
    line-height: 1.4em;
    text-align: center;
}

#copyright {
    margin-top: 40px;
}

div#copyright {
    display: inline-block;
}

#copyright a {
    color: #999999;
    text-decoration: none;
}

.cover, .cover-section, .section, .post {
    max-width: 480px;
}

.page p {
    word-wrap: break-word;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 640px) {
    body {
        font-size: 16px;
    }

    .title {
        font-size: 30px;
    }

    #top-title {
        font-size: 11px;
    }

    #nav {
        line-height: 1.1em;
    }

    div.page-turn {
        width: 0px;
        display: none;
    }
    div#main {
        margin-left: 15px;
        margin-right: 15px;
        padding: inherit;
        max-width: 290px;
    }
    #progress span {
        width: 1px;
        height: 10px;
    }

    #progress span.progress-section {
        width: 1px;
    }

    #progress span.current {
        width: 2px;
    }
    .cover-section {
        margin-left: 0px;
    }

    .cover, .cover-section, .section, .post {
        max-width: none;
    }

    #copyright {
        font-size: 11px;
    }
    
    .page {
        margin-bottom: 65px;
    }
    
    h2 {
        font-size: 22px;
    }

    .timestamp {
        font-size: 12px;
    }

    img.media {
       width: 100%;
       margin-left: 0px;
       display: block;
    }
}
