body > div {
    display: inline-block;
}

div#main {
    width: 70%;
}

div#left-click, div#right-click {
    width:15%;
    height: 100%;
}

div.page {
}

#cover {
    text-align: center;
}

h2 {
    font-size: 24px;
}

.timestamp {
    font-size: 12px;
}

.media {
    
}

.section, .post {
    font-size: 18px;
}
