<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Make Way for Piggies</title>

<script type="text/javascript" src="jquery-1.8.2.min.js"></script>

<link rel="stylesheet" href="style.css" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Fenix' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Rosario' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="paginate.js"></script>
</head>
<body>

<div id="main">

<div id="nav">
<div id="top-title">
<a href="">Make Way for Piggies</a>
</div>

<div id="progress-wrapper">
<div id="progress">
<ul>
<li id="progress-cover"><a href="#cover"><span></span></a></li>
<li id="progress-preface"><a href="#preface"><span></span></a></li>
{% for section in sections %}
<li id="progress-{{ section.title|slugify }}"><a href="#{{ section.title|slugify }}"><span class="progress-section"></span></a></li>
{% for post in section.posts %}
<li id="progress-{{ section.title|slugify }}-{{ loop.index }}"><a href="#{{ section.title|slugify }}-{{ loop.index }}"><span></span></a></li>
{% endfor %}
{% endfor %}
</ul>
</div>
</div>

</div>

<div class="page_container">
<div class="page" id="cover">
<h1 class="title">Make Way for Piggies</h1>

<div class="subtitle">
<p>The Pregnancy of Huxley Craig<br />
as recorded in the<br />
Facebook Posts of his Mom</p>
<p class="author">Sally Honda</p>
</div>

<div class="edited-by">
<p>Edited by his Dad</p>
<p class="author">Dan Craig</p>
</div>

<div id="toc">
<h2>Contents</h2>
<ul>
<li><a href="#preface">Preface</a></li>
{% for section in sections %}
<li><a href="#{{ section.title|slugify }}">{{ section.title }}</a></li>
{% endfor %}
</ul>
</div>

</div>

<div class="page" id="preface">
<h2>Preface</h2>

{{ preface|p }}
</div>

{% for section in sections %}
<div class="page section" id="{{ section.title|slugify }}">
<h2>{{ section.title }}</h2>

{{ section.text|p }}
</div>

{% for post in section.posts %}
<div class="page" id="{{ section.title|slugify }}-{{ loop.index }}">

<div class="timestamp">
{{ post.humantimestamp }}
</div>

{% if post.image %}
<img class="media" src="manual/{{ post.image }}" width="70%" />
{% endif %}

{% if post.youtube_id %}
<iframe class="media" width="420" height="315" src="http://www.youtube.com/embed/{{ post.youtube_id }}" frameborder="0" allowfullscreen></iframe>
{% endif %}

<div class="post">
{{ post.text|p_br }}
</div>
</div>
{% endfor %}

{% endfor %}
</div>

</div>

<div id="controls">
<a href id="next" class="page-turn">&rarr;</a>
<a href id="prev" class="page-turn">&larr;</a>
</div>

</body>
</html>
